<html>
	<head>
        <title>Quiz</title>
        <meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, maximum-scale=1.0">
		<meta name="google-site-verification" content="50FkllZFImXYACu5bVyyDjrJkmFm9NL4-5anvgga8UA" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<script src="https://kit.fontawesome.com/97e36fce94.js" crossorigin="anonymous"></script>
		<script srt="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
		<!-- <link rel="stylesheet" href="../../../css/read.css"> -->
		<link rel="stylesheet" href="../static/css/read.css">
		<link rel="stylesheet" href="../static/css/main.css">
		<!-- <link rel="stylesheet" href="../../../css/main.css"> -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.1/codemirror.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


		<!-- Toast UI Css Start -->
		<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
		<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"	/>
		<link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css" />
		<!-- Toast UI Css end -->

<!--		<script src="../../../js/tab.js" charset="UTF-8"></script>-->
		<!-- <script src="../../../js/movement.js"charset="UTF-8"></script>
		<script src="../../../js/read.js" charset="UTF-8"></script> -->

<!--		<script src="../../../js/main.js"charset="UTF-8"></script>-->
    </head>
	<body>
		<div class="wrapper">
			<div class="section title">
				<h1 id="subject">
					과목
				</h1>
				<h2 id ="title">
					제목
				</h2>
			</div>
			<div class="section content">
				<div id="viewer"></div>
			</div>
			<div id ="answer_list" class="section answer">
				<label id = "1" class="l_option"><input class="option ansVal" type="radio" name="check"  value="1">일번</label>
				<label id = "2" class="l_option"><input class="option ansVal" type="radio" name="check"  value="2">이번</label>
				<label id = "3" class="l_option"><input class="option ansVal" type="radio" name="check" value="3">삼번</label>
				<label id = "4" class="l_option"><input class="option ansVal" type="radio" name="check"  value="4">사번</label>
			</div>
			<div class="section answer">
				<textarea class ="ansVal" id ="shortpathanswer"></textarea>

			</div>
			<div class="footer">
<!--				<a class="btn modify" id="modify">수정</a>-->
				<a class="btn save dark" id="submit">제출</a>
			</div>
		</div>




		<!-- Toast UI JS Start -->
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
		<!-- prismjs Languages -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/components/prism-clojure.min.js"></script>
		 <!-- Editor's Plugin -->
		 <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.js"></script>
		<!-- Toast UI JS END -->
		<!-- toast UI script 때문에 제일 아래로 내림. -->
		<script src="../../../js/movement.js"charset="UTF-8"></script>
		<script src="../../../js/read.js" charset="UTF-8"></script>

	
	</body>

</html>